body{
  font-size:16px;
}

/* MENU SECTION AT TOP OF PAGE */

.menuContainer{
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color:black;
  opacity: 0.9;
  width: 100%;
  height: 8em;
  align-items: center;
  z-index: 10;
}


.leftMenu {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: .9em;
  color: #dedede;
  letter-spacing: 1px;
  margin-left: 2em;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo img {
  height: 7em;
}

.logo {
  margin-right: 3em;
}

.leftMenu nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.leftMenu nav ul li{
  margin-right: 2em;
  cursor: pointer;
  padding-bottom:0.6em;
  padding-top: 0.6em;
  border-bottom: 2px solid black;
  transition: border-bottom 0.5s;
}

.leftMenu nav ul li img {
  height: 7em;
}

.leftMenu nav ul li:hover{
  color: #C39F76;
  border-bottom: 2px solid #C39F76;
}

.socialMenu{
  margin-right: 2em;
}

.socialMenu ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.socialMenu ul li{
  margin-left: 1em;
  cursor: pointer;
  color: #dedede;
}

.socialMenu ul li:hover{
  color: #C39F76;
}

/* JUMBOTRON PICTURE SECTION OF THE PAGE */

.container {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.jumbotron {
  background-image: url("../images/WeddingTentLarge.png");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 40em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.jumbotron h1 {
  font-size: 2.5em;
  font-family: 'Roboto Slab';
  color: #dedede;
  margin: 5.5em 0em 0em 4em;
  padding: .4em .5em;
  background-color: #dedede;
  opacity: 0.85;
  color: black;
  text-transform: uppercase;
}

.jumbotron h2 {
  font-size: 1.5em;
  font-family: 'Roboto Slab';
  color: #dedede;
  margin: 0em 0em 5em 4em;
  padding: .5em .5em;
  background-color: #dedede;
  opacity: 0.85;
  color: black;
  text-transform: uppercase;
}

.jumboButtonContainer {
  width: 100%;
  height: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.jumboButton {
  background-color: black;
  padding: 1.5em 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .5em;
  transition: background-color 0.3s;
}

.jumboButton:hover {
  background-color: #906C43;
}

.jumboButton p {
  color: #dedede;
  font-family: 'Open Sans', sans-serif;
  font-size: .9em;
  letter-spacing: 1px;
}

.aboutSection {
  width: 100%;
  height: 20em;
  background-color: white;
  box-shadow: 10px 0px 15px #000000;
  display: flex;
}
