body{
  font-size:16px;
}

.container {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* MENU SECTION AT TOP OF PAGE */

.menuContainer{
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color:black;
  opacity: 0.9;
  width: 100%;
  height: 8em;
  align-items: center;
}


.leftMenu {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: .9em;
  color: #dedede;
  letter-spacing: 1px;
  margin-left: 2em;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo img {
  height: 7em;
}

.logo {
  margin-right: 3em;
}

.leftMenu nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.leftMenu nav ul li{
  margin-right: 2em;
  cursor: pointer;
  padding-bottom:0.6em;
  padding-top: 0.6em;
  border-bottom: 2px solid black;
}

.leftMenu nav ul li img {
  height: 7em;
}

.leftMenu nav ul li:hover{
  color: #C39F76;
  border-bottom: 2px solid #C39F76;
}

.socialMenu{
  margin-right: 2em;
}

.socialMenu ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.socialMenu ul li{
  margin-left: 1em;
  cursor: pointer;
  color: #dedede;
}

.socialMenu ul li:hover{
  color: #C39F76;
}

/* JUMBOTRON PICTURE SECTION OF THE PAGE */


.jumbotron {
  background-image: url("../images/WeddingTentLarge.png");
  background-size: cover;
  width: 100%;
  height: 50em;
}
